node_modules
dist
out
.DS_Store
.eslintcache
*.log*
/workspace/
/workspace*/
build/
rember.txt
src/tts/demo
src/tts/ckpts
src/tts/voices
.opencli
/ap/
/models/*
!/models/README.md
/resources/model/*
!/resources/model/README.md
.env
electron.vite.config.*.mjs